{{!< default}}

{{#post}}

<main class="content" role="main">
	<article class="{{post_class}}">
		<div class="inner">

			<div id="push">

			<header class="post-header">
				<span class="post-meta">
					<span class="post-author">{{author}}</span> | <span class="post-date">{{date format="DD MMM YYYY"}}</span>
				</span>
				<div class="clear"></div>
				<h1 class="post-title">{{{title}}}</h1>
			</header>
		
			<section class="post-content">
				{{content}}
			</section>
			
			<footer class="post-footer">
				<div class="post-tags">
					{{tags separator=" "}}
				</div>
				<div class="post-share">
					<a class="icon-twitter" href="https://twitter.com/share?text={{title}}&url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
						<span>Twitter</span>
					</a>
					<a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
						<span>Facebook</span>
					</a>
					<a class="icon-gplus" href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
						<span>Google+</span>
					</a>
				</div>
			</footer>
			
			<aside class="post-comments">
				<div id="disqus_thread">
		<div id="fb-root"></div>
		<script>
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/hu_HU/sdk.js#xfbml=1&version=v2.4&appId=515151608639774";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		
		<div class="fb-comments" data-href="http://www.kanikulanuku.hu{{url}}" data-numposts="5">
		</div>

                                </div>
			</aside>
			
			</div>
			
			<nav class="post-nav">
				{{#next_post}}
					<a class="post-nav-item post-nav-next" href="{{url absolute="true"}}">
						<section class="post-nav-teaser">
							<span class="post-nav-icon"><i class="icon-arrow-left"></i></span>
							<span class="post-nav-info">
								<h4 class="post-nav-title">{{title}}</h4>
								<p class="post-nav-excerpt">{{excerpt words="12"}}&hellip;</p>
							</span>
						</section>
					</a>
				{{/next_post}}
				{{#prev_post}}
					<a class="post-nav-item post-nav-prev" href="{{url absolute="true"}}">
						<section class="post-nav-teaser">
							<span class="post-nav-icon"><i class="icon-arrow-right"></i></span>
							<span class="post-nav-info">
								<h4 class="post-nav-title">{{title}}</h4>
								<p class="post-nav-excerpt">{{excerpt words="12"}}&hellip;</p>
							</span>
						</section>
					</a>
				{{/prev_post}}
				<div class="clear"></div>
			</nav>

			{{/post}}
		</div>
	</article>
</main>
